:root {
	--primary-color: navy;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	padding: 1rem;
	margin: 2rem;
	text-align: center;
}

.temples {
	display: grid;
	grid-template-columns: 1fr;
}

img {
	width: 300px;
	height: auto;
}

h1 {
	text-align: left;
	font-family: times, serif;
	font-size: 1.5rem;
	margin-left: 1rem;
}

nav {
	margin: 1rem auto;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--primary-color);
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	background-color: var(--primary-color);
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

p {
	color: #fff;
}

.open a {
	display: block;
}

.active::before { 
	content: "📍";
}

footer {
    background-color: var(--primary-color);
    margin: 0;
    padding: 20px;
    color: var(--primary-font-color);
	text-align: center;
}
  